{% extends "base.html" %}
{% block content %}
    <h1>Sentiment Analysis on Movie Reviews</h1>
    <p>An algorithm to identify good and bad reviews
    <br> 
    More information <a href="http://jthang.github.io">here</a>.
    </p>
    <form action='/' method='post'>
      <label for='review' style="display: none;">review</label>
      <input id='review' name='review' class="has-inline-label"/>
      <button type='submit'>Check Sentiment</button>
    </form>
    <p>
      <strong>this movie is fantastic</strong>
      is
      <span class='other'>a good review</span>
    </p>
    <table>
      <tr id='header'>
        <th class='language'>Language</th>
        <th class='review'>review</th>
      </tr>
    </table>
      
      




      <!-- 
      <script type='text/javascript'>
          function addReview() {
            $.ajax({
                method: 'GET',
                url: '/review',
                cache: false,
                success: function(data) {
                    $("table tr#header:first").after(data).slideDown('slow');
                    setTimeout(addReview, 1300)
                }
            });
            $('table tr.review:gt(20)').remove();
          }
          
          $(function() {
            $("form").inlineFormLabels();
            setTimeout(addReview, 1300);
          });
      </script>
      //-->
{% endblock %}
